TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

PHONE_NUMBER_FROM=

GEMINI_API_KEY=
MISTRAL_API_KEY=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
DEEPGRAM_API_KEY=

EnableX_App_ID =

EnableX_App_Key =
ENABLEX_FROM_NUMBER =

DOMAIN=

PORT=
DATABASE_URL=

APOLLO_API_KEY=

SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=

Client_ID=
Client_Secret=
Qwen_API_key=
CARTESIA_API_KEY=

CARTESIA_VOICE_ID=

SARVAM_API_KEY=

EXOPHONE=+914448133610
#EXOPHONE=+919513886363
EXOTEL_API_KEY=
EXOTEL_API_TOKEN=
EXOTEL_ACCOUNT_SID=adomitatechnologies1
EXOTEL_ACCOUNT_REGION=Singapore

# Exotel Cluster (Singapore/Global)
EXOTEL_SUBDOMAIN=api.exotel.com
EXOTEL_PORTAL_URL=https://my.exotel.com
EXOTEL_APP_ID=
#EXOTEL_URL=