fastapi
uvicorn
twilio
websockets
sqlmodel
psycopg2-binary
chromadb
python-dotenv
google-genai
numpy
scipy
mistralai
deepgram-sdk>=5.0.0,<6.0.0
elevenlabs
aiohttp
pandas
openpyxl
python-multipart
requests
cartesia>=1.0.0 #3.0.2
sarvamai>=0.1.27 #0.2.0 is the first version with TTS support
dateparser
python-dateutil
langgraph
scikit-learn
